.practice-tests-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .box1{
        width: 10%;
        height: 10px;
        background-color: #C5DDF3;
    }






    

}