.layout {
    min-height: 100vh;
    display: flex;
    background: #F8F9FA;
}

.main-content {
    flex: 1;
    margin-left: 80px;
    transition: margin-left 0.3s ease;
    background-color: #F4F5F9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main-content.w-100 {
    margin-left: 0px;
}

.main-content-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

/* When no sidebar is present */
.main-content.no-sidebar {
    margin-left: 0;
    padding: 0px;
}
